<template>
  <div class="product-detail-page">
    <ProductTeaser :product="product" :languageIso="languageIso" />
    <div class="content-body">
      <div class="product-tabs">
        <header class="page">
          <ul class="product-tabs-nav">
            <li v-for="(item, index) in items"
              :key="index" :class="['product-tabs-nav-item', item.modifier, index === activeItemIndex ? 'active' : '']"
            >
              <label :for="getId(index)"
                v-on:click="selectItem(index)"
              >
                <img :src=item.icon>
                <span>{{ item.title }}</span>
              </label>
            </li>
          </ul>
        </header>
        <section class="product-tabs-body">
          <div class="product-tab-stage">
            <input type="radio" :id="getId(0)" :name="getName()" checked="checked" class="stage-connector">
            <div class="stage product-body">
              <AttributesListImages :product="product" :languageIso="languageIso" :config=attributesListImages1 />
              <ProductTextImage :product="product" :languageIso="languageIso" />
              <AttributesListImages :product="product" :languageIso="languageIso" :config=attributesListImages2 />
              <ProductFooterMenu :product="product" :languageIso="languageIso" />
              <ProductRealtedPieces :product="product" :languageIso="languageIso" />
            </div>
          </div>
          <div class="product-tab-stage">
            <input type="radio" :id="getId(1)" :name="getName()" class="stage-connector">
            <div class="stage product-body">
              <h2>Share</h2>
              <p class="page">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="product-tab-stage">
            <input type="radio" :id="getId(2)" :name="getName()" class="stage-connector">
            <div class="stage product-body">
              <h2>Wish List</h2>
              <p class="page">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="product-tab-stage">
            <input type="radio" :id="getId(3)" :name="getName()" class="stage-connector">
            <div class="stage product-body">
              <h2>Compare</h2>
              <p class="page">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="product-tab-stage">
            <input type="radio" :id="getId(4)" :name="getName()" class="stage-connector">
            <div class="stage product-body">
              <h2>Enquire</h2>
              <p class="page">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import ProductTeaser from '@/components/molecules/ProductTeaser'
import AttributesListImages from '@/components/molecules/AttributesListImages'
import ProductTextImage from '@/components/molecules/ProductTextImage'
import ProductFooterMenu from '@/components/molecules/ProductFooterMenu'
import ProductRealtedPieces from '@/components/molecules/ProductRealtedPieces'

export default {
  name: 'ProductDetailPage',
  data () {
    this.fetchProductById(1)

    return {
      languageIso: 'en-CH',
      product: null,
      elementId: parseInt(Math.random() * 1000000000),
      activeItemIndex: 0,
      items: [
        {
          icon: require('../../assets/icons/Layout_25.jpg'),
          title: 'Show Product Details',
          active: true
        },
        {
          icon: require('../../assets/icons/Layout_27.jpg'),
          title: 'Share',
          active: false
        },
        {
          icon: require('../../assets/icons/Layout_29.jpg'),
          title: 'Wish List',
          active: false
        },
        {
          icon: require('../../assets/icons/Layout_31.jpg'),
          title: 'Compare',
          active: false
        },
        {
          icon: require('../../assets/icons/Layout_33.jpg'),
          title: 'Enquire',
          active: false
        }
      ],
      attributesListImages1: {
        title: 'Piaget Altiplano Ultimate 910P',
        topic: 'Product Details',
        attributes: {
          items: [],
          type: 'DETAILS',
          itemsPerLine: 3
        },
        image: {
          titel: 'Example Image',
          sources: [
            {
              target: 'https://via.placeholder.com/600x600',
              screensize: 800
            },
            {
              target: 'https://via.placeholder.com/800x600',
              default: true
            }
          ]
        }
      },
      attributesListImages2: {
        title: 'Product Characteristics',
        topic: 'Specifications',
        attributes: {
          items: [],
          type: 'SPECS',
          itemsPerLine: 4
        },
        image: {
          titel: 'Example Image',
          sources: [
            {
              target: 'https://via.placeholder.com/600x600',
              screensize: 800
            },
            {
              target: 'https://via.placeholder.com/800x600',
              default: true
            }
          ]
        },
        video: {
          sources: [
            'https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4'
          ],
          thumbs: [
            'https://picsum.photos/id/816/800/600'
          ],
          previewImage: 'https://picsum.photos/id/816/220/140'
        }
      }
    }
  },
  methods: {
    fetchProductById: async function (productId) {
      const url = `${process.env.API_HOST}:${process.env.API_PORT}`
      const data = `{"query":"query {product(id:${productId}) {id,articleNo,categories {id,labels {id, iso,title}},labels {iso,title,subtitle,description,text},prices {type,currency,value},attributes {type,reference,labels {title,description}}}}","variables":{}}`
      const response = await fetch(
        url,
        {
          headers: { 'Content-Type': 'application/json' },
          body: data,
          method: 'POST'
        }
      )

      if (!response.ok) {
        console.error(`An error has occured: ${response.status}`)
      }

      const resp = await response.json()

      if (!resp.data.product) {
        console.error(`Product not found`)
      }

      this.product = resp.data.product
    },
    selectItem: function (index) {
      this.activeItemIndex = index
    },
    getName: function () {
      return `i-${this.elementId}`
    },
    getId: function (index) {
      return `${this.getName()}-${index}`
    }
  },
  components: {
    ProductTeaser,
    AttributesListImages,
    ProductTextImage,
    ProductFooterMenu,
    ProductRealtedPieces
  }
}
</script>

<style scoped>

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  font-size: 1.5rem;
  background: #141414;
  color: white;
  padding: 3rem 2rem;
  cursor: pointer;
  width: 100%;
  transition: all 300ms ease-in-out;
}

label img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}

label:hover {
  background: white;
  color: black;
}

.product-tabs-nav-item {
  flex-grow: 1;
  display: flex;
}

.product-tabs-nav-item.active {
  flex-grow: 4;
}

.product-tabs-nav-item.active label {
  background: white;
  color: black;
}

.content-body {
  background: #f0f0f0;
}

.product-tabs-body {
  background: white;
}

.product-tabs-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.page {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
}

.stage {
  display: none;
}

.stage-connector {
  display: none;
}

.stage-connector:checked + .stage {
  display: block;
}

.product-tabs-body {
  padding: 2rem 0;
}

</style>
