<template>
  <div v-if="product && init()" class="attributes-list-images">
    <div class="page">
      <main :class="[config.video ? 'has-video' : '']">
        <AttributesList :title=config.title :topic=config.topic :items=config.attributes.items :rows=config.attributes.rows :languageIso=languageIso />
        <aside>
          <ResponsiveImage title=config.image.titel :sources=config.image.sources />
          <Lightbox v-if="config.video" :sources=config.video.sources class="video">
            <img :src=config.video.previewImage />
            <img src="https://via.placeholder.com/60x60" class="video-play-button" />
          </Lightbox>
        </aside>
      </main>
    </div>

  </div>
</template>

<script>
import Lightbox from '@/components/atoms/Lightbox'
import AttributesList from '@/components/atoms/AttributesList'
import ResponsiveImage from '@/components/atoms/ResponsiveImage'

export default {
  name: 'AttributesListImages',
  data () {
    return {
      i18n: null,
      attributes: []
    }
  },
  props: {
    config: { required: true },
    languageIso: { required: true },
    product: { required: true }
  },
  methods: {
    init: function () {
      this.i18n = this.product.labels.find(item => item.iso === this.languageIso)
      this.config.attributes.items = this.product.attributes.filter(item => item.type === this.config.attributes.type)
      return true
    }
  },
  components: {
    Lightbox,
    AttributesList,
    ResponsiveImage
  }
}
</script>

<style scoped>

aside {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  aside {
    padding-left: 8rem;
  }
}

main {
  padding: 0;
}

@media only screen and (min-width: 800px) {
  main {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    padding: 0 2rem;
  }
}

main.has-video {
  padding-bottom: 16rem;
}

main.has-video aside {
  position: relative;
}

.page {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;

}

.attributes-list {
  flex-grow: 2;
  display: flex;
}

.attributes-list-images {
  padding: 8rem 2rem 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-grow: 1;
  display: flex;
}

.video {
  position: absolute;
  right: 3rem;
  bottom: -9rem;
}

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
