<template>
  <div v-if="product" class="product-footer-menu">
    <div class="page">
      <ul>
        <li v-for="(item, index) in items" :key="index">
          <a href="" class="product-footer-menu-item">
            <img :src=item.icon>
            <span>{{ item.titel }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductFooterMenu',
  data () {
    return {
      items: [
        {
          icon: 'https://via.placeholder.com/40x40',
          titel: 'Close Product Details'
        },
        {
          icon: 'https://via.placeholder.com/40x40',
          titel: 'Add to the shopping bag'
        },
        {
          icon: 'https://via.placeholder.com/40x40',
          titel: 'Make an Enquiry'
        }
      ]
    }
  },
  props: {
    product: { required: true }
  }
}
</script>

<style scoped>

ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
  padding: 4rem 2rem;
}

a:hover {
  background: #2c2c2c;
}

a:hover span {
  transition: all 100ms ease-in-out;
}

a:active {
  transform: scale(0.98);
}

span {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.2;
  display: flex;
  height: 100%;
  align-items: center;
}

img {
  margin-right: 12%;
}

.product-footer-menu {
  background: #262626;
  padding: 0 2rem;
}

.page {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;
}

</style>
