<template>
  <div v-if="product" class="product-realted-pieces">
    <div class="page">
      <div class="product-slider">
        <ProductSlider :product=product :languageIso=languageIso />
      </div>
    </div>
  </div>
</template>

<script>
import ProductSlider from '@/components/atoms/ProductSlider'

export default {
  name: 'ProductRealtedPieces',
  data () {
    return {
    }
  },
  props: {
    languageIso: { required: true },
    product: { required: true }
  },
  components: {
    ProductSlider
  }
}
</script>

<style scoped>

.product-realted-pieces {
  padding: 6rem 0 8rem;
  background: #0f0f0f;
  color: white;
}

</style>
