<template>
  <div v-if="product && init()" class="product-teaser">
    <div class="page">
      <Gallery/>
      <aside>
        <ClickToActionText topic="Piaget Watches" :title=i18n.title button="Add to shopping cart">
          <p class="price">{{ formatPrice() }}</p>
          <p class="product-id">Watch {{ product.articleNo }}</p>
          <p>{{ i18n.subtitle }}</p>
        </ClickToActionText>
      </aside>
    </div>
  </div>
</template>

<script>
import Gallery from '@/components/atoms/Gallery'
import ClickToActionText from '@/components/atoms/ClickToActionText'

export default {
  name: 'ProductTeaser',
  data () {
    return {
      category: null,
      i18n: null
    }
  },
  props: {
    languageIso: { required: true },
    product: { required: true }
  },
  methods: {
    init: function () {
      this.i18n = this.product.labels.find(item => item.iso === this.languageIso)
      this.productPrice = this.product.prices.find(item => item.currency === 'CHF')
      return true
    },
    formatPrice: function () {
      return new Intl.NumberFormat(this.languageIso, { style: 'currency', currency: this.productPrice.currency }).format(this.productPrice.value)
    }
  },
  components: {
    Gallery,
    ClickToActionText
  }
}
</script>

<style scoped>
aside {
  text-align: left;
}

.product-id {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.page {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;
}

.product-teaser {
  background: #f0f0f0;
  padding: 4rem 2rem;
}

.product-gallery {
  padding: 1rem;
}

@media only screen and (min-width: 800px) {
  .page {
    display: flex;

  }

  aside {
    width: 50%;
  }

  .product-gallery {
    width: 50%;
  }
}
</style>
