<template>
  <div v-if="product && init()" class="product-text-image">
    <div class="page">
      <main>
        <aside>
          <img src="https://via.placeholder.com/450x600" class="image-big" />
          <img src="https://via.placeholder.com/300x500" class="image-small" />
        </aside>
        <ClickToActionText topic="Product Description" subtitle="The world’s thinnest Automatic Watch" button="Add to shopping cart">
          <p class="subheader">{{ i18n.subtitle }}</p>
          <section v-html="i18n.text"></section>
        </ClickToActionText>
      </main>
    </div>
  </div>
</template>

<script>
import ClickToActionText from '@/components/atoms/ClickToActionText'

export default {
  name: 'ProductTextImage',
  data () {
    return {
    }
  },
  props: {
    languageIso: { required: true },
    product: { required: true }
  },
  methods: {
    init: function () {
      this.i18n = this.product.labels.find(item => item.iso === this.languageIso)
      this.productPrice = this.product.prices.find(item => item.iso === 'CHF')
      return true
    }
  },
  components: {
    ClickToActionText
  }
}
</script>

<style scoped>

main {
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (min-width: 1240px) {
  main {
    display: flex;
    flex-direction: row;
  }
}

aside {
  position: relative;
  margin: 2rem auto 0;
  max-width: 60rem;
  width: 100%;
}

@media only screen and (min-width: 1240px) {
  aside {
    margin-top: 2rem;
    width: auto;
  }
}

.page {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;

}

.product-text-image {
  padding: 8rem 2rem 0;
}

.image-big {
  margin: 0 8rem 8rem 0;
}

.image-small {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid white;
}

</style>
