<template>
  <footer>
    <div class="page">
      <div class="footer-wrap">
        <div class="footer-col company">
          <h3>The Brand</h3>
          <p>Walchestrasse 9<br />8006 Zürich</p>
          <p><span>T</span>+ 41 (0) 10 20 30 40<br /><span>F</span>+ 41 (0) 50 60 70 80<br /><span>M</span><a href="#">contact@thebrand.com</a></p>
        </div>
        <nav class="footer-col menu">
          <h3>{{ customerCare.title }}</h3>
          <ul>
            <li v-for="(item, index) in customerCare.items"
                :key="index"
              >
              <a :href=item.target>{{ item.title }}</a>
            </li>
          </ul>
        </nav>
        <nav class="footer-col menu">
          <h3>{{ ourCompany.title }}</h3>
          <ul>
            <li v-for="(item, index) in ourCompany.items"
                :key="index"
              >
              <a :href=item.target>{{ item.title }}</a>
            </li>
          </ul>
          <h3>{{ ourCompany2.title }}</h3>
          <ul>
            <li v-for="(item, index) in ourCompany2.items"
                :key="index"
              >
              <a :href=item.target>{{ item.title }}</a>
            </li>
          </ul>
        </nav>
        <div class="footer-col social">
          <h3>Stay in Touch</h3>
          <nav>
            <ul>
              <li>
                <a href="/">Sign up to our Newsletter</a>
              </li>
              <li>
                <a href="/">Magazine Download</a>
              </li>
            </ul>
          </nav>
          <section class="social-plugins">
            <ul>
              <li v-for="(item, index) in social.items"
                  :key="index"
                >
                <a :href=item.target>
                  <img :src=item.source />
                </a>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <hr />
      <a href="/" class="back-to-top">
        <span>Back to top</span>
        <img src="https://via.placeholder.com/20x20">
      </a>
      <div class="copy">&copy; Copyright 2018 The Brand</div>
    </div>
  </footer>
</template>

<script>

export default {
  name: 'Footer',
  data () {
    return {
      customerCare: {
        title: 'Customer Care',
        items: [
          {
            title: 'Contact Us',
            target: '/'
          },
          {
            title: 'Track your order',
            target: '/'
          },
          {
            title: 'Returns',
            target: '/'
          },
          {
            title: 'FAQ’s',
            target: '/'
          },
          {
            title: 'Location Finder',
            target: '/'
          },
          {
            title: 'Service',
            target: '/'
          },
          {
            title: 'Product Care',
            target: '/'
          },
          {
            title: 'Gift Cards',
            target: '/'
          },
          {
            title: 'Sell your jewellery',
            target: '/'
          }
        ]
      },
      ourCompany: {
        title: 'Our Company',
        items: [
          {
            title: 'News',
            target: '/'
          },
          {
            title: 'Career',
            target: '/'
          },
          {
            title: 'Press',
            target: '/'
          },
          {
            title: 'Social',
            target: '/'
          }
        ]
      },
      ourCompany2: {
        title: 'Our Company',
        items: [
          {
            title: 'Privacy Policy',
            target: '/'
          },
          {
            title: 'Cookie Policy',
            target: '/'
          },
          {
            title: 'Terms & Conditions',
            target: '/'
          },
          {
            title: 'Impressum',
            target: '/'
          }
        ]
      },
      social: {
        items: [
          {
            source: 'https://via.placeholder.com/40x40',
            title: 'facebook',
            target: '/'
          },
          {
            source: 'https://via.placeholder.com/40x40',
            title: 'twitter',
            target: '/'
          },
          {
            source: 'https://via.placeholder.com/40x40',
            title: 'youtube',
            target: '/'
          },
          {
            source: 'https://via.placeholder.com/40x40',
            title: 'instagram',
            target: '/'
          },
          {
            source: 'https://via.placeholder.com/40x40',
            title: 'linkedin',
            target: '/'
          }
        ]
      }
    }
  },
  methods: {

  },
  components: {
  }
}
</script>

<style scoped>
ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2.8rem;
}

li {
  text-align: left;
}

footer {
  position: relative;
  padding: 4rem 2rem;
}

h3 {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  color: #000000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 1rem;
}

hr {
  border: 0;
  border-top: 0.1rem solid #dcdcdc;
  margin: 2rem 0;
}

p {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.4;
}

a {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #a0a0a0;
  font-size: 1.5rem;
  line-height: 1.8;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: black;
}

a:active {
  transform: scale(0.98);
}

.page {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
}

.footer-col {
  padding: 2rem 4rem 2rem 0;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company h3 {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #141414;
  font-size: 2.2rem;
  line-height: 1.2;
}

.company p {
  line-height: 2.2;
}

.company p span {
  display: inline-block;
  width: 4rem;
}

.company a {
  color: #caa25c;
}

.back-to-top {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: right;
  color: #8c8c8c;
  font-size: 1.3rem;
  line-height: 1.4;
  float: right;
}

.back-to-top img {
  position: relative;
  top: 0.4rem;
}

.copy {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #8c8c8c;
  font-size: 1.3rem;
  line-height: 1.4;
}

.social-plugins {

}

.social-plugins ul {
  text-align: left;
  margin-left: -0.4rem;
}

.social-plugins li {
  display: inline-block;
  margin: 0 0.4rem;
}

.social-plugins li a:active {
  transform: scale(0.96);
}

</style>
