<template>
  <header>
    <HeaderSub/>
    <HeaderMain/>
    <HeaderBreadcrumb/>
  </header>
</template>

<script>
import HeaderMain from '@/components/organisms/HeaderMain'
import HeaderSub from '@/components/organisms/HeaderSub'
import HeaderBreadcrumb from '@/components/organisms/HeaderBreadcrumb'

export default {
  name: 'Header',
  data () {
    return {

    }
  },
  methods: {

  },
  components: {
    HeaderMain,
    HeaderSub,
    HeaderBreadcrumb
  }
}
</script>

<style scoped>
header {
  position: relative;
}
</style>
