<template>
  <div class="area">
    <div class="page">
      <nav class="breadcrumb-menu">
        <ul>
          <li v-for="(item, index) in items" :key="index"
              :class="[item.modifier]"
          >
            <router-link :to=item.target :title=item.title>
              <span>{{ item.title }}</span>
            </router-link>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderBreadcrumb',
  data () {
    return {
      items: [
        {
          target: '/home',
          title: 'Home',
          modifier: ''
        },
        {
          target: '/watches',
          title: 'Watches',
          modifier: ''
        },
        {
          target: '/mens-watches',
          title: "Men's Watches",
          modifier: ''
        },
        {
          target: '/piaget',
          title: 'Piaget',
          modifier: ''
        },
        {
          target: '/piaget-altiplano-ultimate-910p',
          title: 'Piaget: Altiplano Ultimate 910P',
          modifier: ''
        }
      ]
    }
  }
}
</script>

<style scoped>

ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 2rem;
  text-align: left;
}

li {
  display: inline-block;
  color: #808080;
}

li::before {
  content: '/';
  display: inline-block;
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 0.2em;
  margin: 0 1em;
  text-decoration: none;
  color: #808080;
}

li:first-child::before {
  display: none;
}

li:last-child {
  color: white;
}

a {
  display: inline-block;
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: all 100ms ease-in-out;
  color: #caa25c;
}

a:active {
  transform: scale(0.99);
  transition: all 0ms ease-in-out;
}

@media only screen and (min-width: 600px) {
  a {
    font-size: 1.3rem;
  }
}

li.active a {

}

.page {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.area {
  margin-top: 1rem;
  background: #0a0a0a;
}

.page::after {
  content: '';
  display: block;
  clear: both;
}

.sub-menu-left {
  display: block;
  float: left;
}

.sub-menu-left ul {
  text-align: left;
}

.sub-menu-right {
  display: block;
  float: right;
}

.sub-menu-right ul {
  text-align: right;
}
</style>
