<template>
  <div class="page">
    <router-link to="/" class="logo" title="The Brand">
      <span>The Brand</span>
    </router-link>
    <nav class="main-menu-left">
      <ul>
        <li v-for="(item, index) in itemsLeft" :key="index"
        >
          <router-link :to=item.target :title=item.title>
            <span>{{ item.title }}</span>
          </router-link>
        </li>
      </ul>
    </nav>
    <nav class="main-menu-right">
      <ul>
        <li v-for="(item, index) in itemsRight" :key="index"
        >
          <router-link :to=item.target :title=item.title>
            <span>{{ item.title }}</span>
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'HeaderMain',
  data () {
    return {
      itemsLeft: [
        {
          target: '/watches',
          title: 'Watches',
          modifier: ''
        },
        {
          target: '/jewellery',
          title: 'Jewellery',
          modifier: ''
        },
        {
          target: '/wedding',
          title: 'Wedding',
          modifier: ''
        }
      ],
      itemsRight: [
        {
          target: '/acedemy',
          title: 'Acedemy',
          modifier: ''
        },
        {
          target: '/company',
          title: 'Company',
          class: ''
        },
        {
          target: '/stores',
          title: 'Stores',
          class: ''
        }
      ]
    }
  },
  methods: {
  }
}
</script>

<style scoped>

ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0.7rem 0;
}

li {
  display: inline-block;
  padding: 0 10px;
}

a {
  display: inline-block;
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.2em;
  margin: 0 1em;
  text-decoration: none;
  color: #0a0a0a;
}

a:hover {
  transition: all 100ms ease-in-out;
  color: #caa25c;
}

a:active {
  transform: scale(0.98);
  transition: all 0ms ease-in-out;
}

a.router-link-exact-active {

}

.page {
  width: 100%;
  max-width: 134rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-menu-left {
  display: block;
  order: 1;
}

.main-menu-left ul {
  text-align: right;
}

.main-menu-right {
  display: block;
  order: 3;
}

.main-menu-right ul {
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  margin: 0 0.4em;
  text-decoration: none;
  color: #0a0a0a;
  font-size: 3.5rem;
  line-height: 1;
  order: 2;
}

.logo:active {
  transform: scale(0.99);
}

@media only screen and (min-width: 1220px) {
  .logo {
    display: inline-block;
    margin: 0 1em;
  }
}
</style>
