<template>
  <div class="page">
    <nav class="sub-menu-left">
      <ul>
        <li v-for="(item, index) in itemsLeft" :key="index"
            :class="[item.modifier]"
            v-on:click="selectItem(index)"
        >
          <router-link :to=item.target>
            <img :src=item.icon :title=item.title :alt=item.title>
          </router-link>
        </li>
      </ul>
    </nav>
    <nav class="sub-menu-right">
      <ul>
        <li v-for="(item, index) in itemsRight" :key="index"
            :class="[item.modifier]"
            v-on:click="selectItem(index)"
        >
          <router-link :to=item.target>
            <img :src=item.icon :title=item.title :alt=item.title>
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'HeaderSub',
  data () {
    return {
      itemsLeft: [
        {
          target: '/contact',
          title: 'Contact',
          icon: require('../../assets/icons/Layout_03.jpg'),
          modifier: ''
        },
        {
          target: '/location',
          title: 'Find us',
          icon: require('../../assets/icons/Layout_05.jpg'),
          modifier: ''
        },
        {
          target: '/world',
          title: 'World',
          icon: require('../../assets/icons/Layout_07.jpg'),
          modifier: ''
        }
      ],
      itemsRight: [
        {
          target: '/basket',
          title: 'Basket',
          icon: require('../../assets/icons/Layout_09.jpg'),
          modifier: ''
        },
        {
          target: '/like',
          title: 'Like',
          icon: require('../../assets/icons/Layout_11.jpg'),
          modifier: ''
        },
        {
          target: '/account',
          title: 'Account',
          icon: require('../../assets/icons/Layout_13.jpg'),
          modifier: ''
        },
        {
          target: '/search',
          title: 'Search',
          icon: require('../../assets/icons/Layout_15.jpg'),
          modifier: ''
        }
      ]
    }
  },
  methods: {

  }
}
</script>

<style scoped>

ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}

li {
  display: inline-block;
  padding: 0 10px;
}

a {
  display: inline-block;
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  margin: 0 1em;
  text-decoration: none;
  color: #0a0a0a;
}

img {
  width: 1.4rem;
  height: auto;
}

@media only screen and (min-width: 600px) {
  img {
    width: 2rem;
  }
}

a:hover {
  transition: all 100ms ease-in-out;
  color: #caa25c;
}

a:active {
  transform: scale(0.92);
  transition: all 0ms ease-in-out;
}

li.active a {

}

.page {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;
}

.page::after {
  content: '';
  display: block;
  clear: both;
}

.sub-menu-left {
  display: block;
  float: left;
}

.sub-menu-left ul {
  text-align: left;
}

.sub-menu-right {
  display: block;
  float: right;
}

.sub-menu-right ul {
  text-align: right;
}
</style>
