<template>
  <div id="app">
    <Header/>
    <main>
      <router-view/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/organisms/Header'
import Footer from '@/components/organisms/Footer'

export default {
  name: 'App',
  components: {
    Header,
    Footer
  }
}
</script>

<style>
@font-face {
  font-family:'Minion Pro';
  src: url('./assets/fonts/Minion-Pro-Regular.ttf') format('truetype'),
    url('./assets/fonts/Minion-Pro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Minion-Pro-Regular.woff2') format('woff2'),
    url('./assets/fonts/Minion-Pro-Regular.woff') format('woff'),
    url('./assets/fonts/Minion-Pro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Trade Gothic LT';
  src: url('./assets/fonts/Trade-Gothic-LT-Bold.ttf'),
    url('./assets/fonts/Trade-Gothic-LT-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Trade-Gothic-LT-Bold.woff2') format('woff2'),
    url('./assets/fonts/Trade-Gothic-LT-Bold.woff') format('woff'),
    url('./assets/fonts/Trade-Gothic-LT-Bold.svg#Trade-Gothic-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Trade Gothic LT';
  src: url('./assets/fonts/Trade-Gothic-LT.ttf'),
    url('./assets/fonts/Trade-Gothic-LT.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Trade-Gothic-LT.woff2') format('woff2'),
    url('./assets/fonts/Trade-Gothic-LT.woff') format('woff'),
    url('./assets/fonts/Trade-Gothic-LT.svg#Trade-Gothic') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Trade Gothic LT';
  src: url('./assets/fonts/Trade-Gothic-LT-Light.ttf'),
    url('./assets/fonts/Trade-Gothic-LT-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Trade-Gothic-LT-Light.woff2') format('woff2'),
    url('./assets/fonts/Trade-Gothic-LT-Light.woff') format('woff'),
    url('./assets/fonts/Trade-Gothic-LT-Light.svg#Trade-Gothic-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

html, body {
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
}
</style>
