<template>
  <button class="add-to-cart" v-on:click="add()">
    {{ title }}
  </button>
</template>

<script>
export default {
  name: 'AddToCart',
  data () {
    return {
    }
  },
  props: {
    title: { required: true }
  },
  methods: {
    add: function () {
      console.log('add event triggert')
    }
  }
}
</script>

<style scoped>
button {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  color: #caa25c;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.2;
  color: white;
  background: #caa25c;
  border: 0;
  padding: 2rem;
  cursor: pointer;
}

button:hover {
  transition: all 100ms ease-in-out;
  background: #000;
}

button:active {
  transform: scale(0.98);
  transition: all 0ms ease-in-out;
}

</style>
