<template>
  <div class="attributes-list">
    <div class="page">
      <Headline :topic=topic :subtitle=title />
      <ul :class="[getItemsPerLine()]">
        <li v-for="(item, index) in items"
          :key="index"
        >
          <img :src=item.reference :alt="[getItemI18n(item).description, ': ', getItemI18n(item).title].join('')">
          <aside>
            <p>{{ getItemI18n(item).description }}</p>
            <h4>{{ getItemI18n(item).title }}</h4>
          </aside>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Headline from '@/components/atoms/Headline'

export default {
  name: 'AttributesList',
  data () {
    return {
    }
  },
  props: {
    topic: { required: false },
    title: { required: false },
    items: { required: true },
    rows: { required: false }
  },
  methods: {
    getItemsPerLine: function () {
      const rows = this.rows ? this.rows : 2
      const itemsPerLine = Math.ceil(this.items.length / rows)
      return `items-per-line-${itemsPerLine}`
    },
    getItemI18n: function (item) {
      return item.labels.find(item => item.iso === this.languageIso)
    }
  },
  components: {
    Headline
  }
}
</script>

<style scoped>
ul {
  list-style: none;
  padding: 6rem 0 0;
  margin: 0;
  column-count: 2;
  column-gap: 4rem;
}

@media only screen and (min-width: 800px) {
  ul {
    column-gap: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  ul {
    column-gap: 8rem;
  }
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 3rem;
  margin: 0 0 3rem;
  border-bottom: 0.1rem solid #d2d2d2;
}

.items-per-line-3 li:nth-child(3n) {
  border-bottom: 0;
}

.items-per-line-4 li:nth-child(4n) {
  border-bottom: 0;
}

aside {
  margin-left: 2rem;
}

@media only screen and (min-width: 800px) {
  aside {
    margin-left: 4rem;
  }
}

p {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #8c8c8c;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0;
}

h4 {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: black;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0;
}

.page {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
}

.headline {
  margin-left: 8rem;
}

@media only screen and (min-width: 800px) {
  .headline {
    margin-left: 10rem;
  }
}
</style>
