<template>
  <section class="click-to-action-text">
    <Headline :topic=topic :title=title :subtitle=subtitle />
    <article>
      <slot></slot>
      <AddToCart :title=button />
    </article>
  </section>
</template>

<script>
import Headline from '@/components/atoms/Headline'
import AddToCart from '@/components/atoms/AddToCart'

export default {
  name: 'ClickToActionText',
  data () {
    return {
    }
  },
  props: {
    topic: { required: false },
    title: { required: false },
    subtitle: { required: false },
    button: { required: false }
  },
  methods: {

  },
  components: {
    Headline,
    AddToCart
  }
}
</script>

<style scoped>

>>> p,
p {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #8c8c8c;
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 0 0 3.2rem;
}

article {
  padding: 1rem 2rem 2rem 10rem;
  max-width: 52rem;
  width: 60%;
}

.headline {
  padding: 2rem 2rem 0;
}

.price {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-size: 2.8rem;
  color: #caa25c;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.currency {
  padding-right: 0.2em;
}

.subheader {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  font-size: 2.8rem;
  color: #8c8c8c;
  margin-top: 2rem;
}

</style>
