<template>
  <div class="product-gallery">
    <div class="media">
        <div class="media-assets">
          <div v-for="(item, index) in items" :key="index" class="media-asset">
            <input type="radio" :id="getId(index)" :name="getName()" :checked="item.active" class="stage-connector">
            <img :src=item.target class="stage">
          </div>
        </div>
        <div class="media-menu">
          <label v-for="(item, index) in items" :key="index" :for="getId(index)"
            :class="[item.modifier, index === activeItemIndex ? 'active' : '']"
            v-on:click="selectItem(index)"
          >
            <img :src=item.targetPreview class="preview">
          </label>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductGallery',
  data () {
    return {
      elementId: parseInt(Math.random() * 1000000000),
      activeItemIndex: 0,
      items: [
        {
          target: 'https://picsum.photos/id/816/380/480',
          targetPreview: 'https://picsum.photos/id/816/70/70',
          title: 'Wristwatch 1',
          modifier: '',
          active: true
        },
        {
          target: 'https://picsum.photos/id/175/380/480',
          targetPreview: 'https://picsum.photos/id/175/70/70',
          title: 'Wristwatch 2',
          modifier: '',
          active: false
        },
        {
          target: 'https://picsum.photos/id/357/380/480',
          targetPreview: 'https://picsum.photos/id/357/70/70',
          title: 'Wristwatch 3',
          modifier: '',
          active: false
        },
        {
          target: 'https://picsum.photos/id/4/380/480',
          targetPreview: 'https://picsum.photos/id/4/70/70',
          title: 'Wristwatch 4',
          modifier: '',
          active: false
        }
      ]
    }
  },
  methods: {
    selectItem: function (index) {
      this.activeItemIndex = index
    },
    getName: function () {
      return `i-${this.elementId}`
    },
    getId: function (index) {
      return `${this.getName()}-${index}`
    }
  }
}
</script>

<style scoped>

.product-gallery {
  padding-bottom: 6rem;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {
  .media {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.media-assets {
  position: relative;
  width: 48rem;
  height: 48rem;
  margin: 0 auto;
}

.media-asset {

}

.stage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 52rem;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.stage-connector {
  display: none;
}

.stage-connector:checked + .stage {
  opacity: 1;
}

.media-menu {
  margin: 1rem;
}

@media only screen and (min-width: 600px) {
  .media-menu {
    width: 7rem;
  }
}

.media-menu label {
  margin: 0.4rem;
  cursor: pointer;
  opacity: 0.4;
}

.media-menu label:hover {
  opacity: 0.7;
}
.media-menu label:active img {
  transform: scale(0.98);
}

.media-menu label:active,
.media-menu label.active {
  opacity: 1;
}

</style>
