<template>
  <header class="headline">
    <h3 v-if="topic">{{ topic }}</h3>
    <h1 v-if="title">{{ title }}</h1>
    <h2 v-if="subtitle">{{ subtitle }}</h2>
  </header>
</template>

<script>
export default {
  name: 'ProductGallery',
  data () {
    return {
    }
  },
  props: {
    topic: { required: false },
    title: { required: false },
    subtitle: { required: false }
  }
}
</script>

<style scoped>
h3 {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #caa25c;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0 0 2rem;
}

h1 {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #141414;
  font-size: 6rem;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #141414;
  font-size: 4rem;
  line-height: 1.2;
  margin: 0;
}
</style>
