<template>
  <div class="lightbox">
    <button @click="toggler = !toggler"><slot></slot></button>
    <FsLightbox
      :toggler="toggler"
      :sources=sources
    />
  </div>
</template>

<script>
import FsLightbox from 'fslightbox-vue'

export default {
  name: 'Lightbox',
  data () {
    return {
      toggler: false
    }
  },
  props: {
    sources: { required: true }
  },
  methods: {
  },
  components: {
    FsLightbox
  }
}
</script>

<style scoped>

button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:hover {
  transition: all 100ms ease-in-out;
  opacity: 0.7;
}

.lightbox {
  background: white;
}

.lightbox:active {
  transform: scale(0.98);
}

</style>
