<template>
  <div v-if="product && init()" class="product-slider">
    <div class="page">
      <main class="product-slider__stage">
        <aside class="product-slider__aside">
          <h2 class="product-slider__subtitle">ALTIPLANO Collcetion</h2>
          <h3 class="product-slider__title">Related Pieces</h3>
          <div class="product-slider__button" @click="$refs.myVueperSlides.next()">
            <img src="https://via.placeholder.com/40">
            <span>Drag</span>
          </div>
          <div class="product-slider__item-count">
            <span class="product-slider__item-count-current">{{ currentSlide }}</span>
            <span class="product-slider__item-count-total">{{ slides.length }}</span>
          </div>
        </aside>
        <vueper-slides
          ref="myVueperSlides"
          class="no-shadow"
          @ready="logEvents('ready', $event)"
          @previous="logEvents('previous', $event)"
          @next="logEvents('next', $event)"
          @before-slide="handleBeforeSlide('before-slide', $event)"
          @slide="logEvents('slide', $event)"
          @click="goToSlide(i)"
          :visible-slides="itemsPerSlide"
          slide-multiple
          :gap="3"
          :slide-ratio="1 / 2"
          :dragging-distance="200"
          :breakpoints="{ 800: { visibleSlides: 2, slideMultiple: 2 } }">
          <vueper-slide v-for="(slide, i) in slides" :key="i">
            <template v-slot:content>
              <div class="vueperslide__content-wrapper" style="flex-direction: row">
                <section>
                  <img :src="slide.source">
                  <main>
                    <p class="manufacturer">{{ slide.manufacturer }}</p>
                    <h4>{{ slide.title }}</h4>
                    <p class="product-number">{{ slide.topic }} {{ slide.articleNo }}</p>
                    <h4 class="price">{{ slide.price }}</h4>
                  </main>
                </section>
              </div>
            </template>
          </vueper-slide>
        </vueper-slides>
      </main>
    </div>
  </div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

export default {
  data () {
    return {
      currentSlide: 3,
      itemsPerSlide: 3,
      slides: [
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        },
        {
          manufacturer: 'Piaget',
          topic: 'Watch',
          title: 'Altiplano',
          articleNo: 'G0A39111',
          price: this.formatPrice('CHF', '24900.00'),
          source: 'https://picsum.photos/id/4/240/320',
          target: '#'
        }
      ]
    }
  },
  props: {
    product: { required: true },
    languageIso: { required: true }
  },
  methods: {
    init: function () {
      // find some related products by given product
      // this.product
      return true
    },
    formatPrice: function (currency, value) {
      return new Intl.NumberFormat(this.languageIso, { style: 'currency', currency: currency }).format(value)
    },
    logEvents: function (status, $event) {
      console.log(status, $event)
    },
    handleBeforeSlide: function (status, $event) {
      this.currentSlide = $event.nextSlide.index + this.itemsPerSlide
      this.logEvents(status, $event)
    },
    goToSlide: function (i) {
      console.log(i)
    }
  },
  components: {
    VueperSlides,
    VueperSlide
  }
}
</script>

<style>

.product-slider .page {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;
}

.product-slider__stage {
  display: flex;
  flex-direction: row;
}

.product-slider__aside {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 25%;
  max-width: 30rem;
  flex-grow: 1;
  padding: 1rem 0 2rem;
}

.product-slider__subtitle {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #caa25c;
  margin: 0;
  text-align: left;
}

.product-slider__title {
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 2.8rem;
  line-height: 2;
  margin: 0;
  color: white;
  text-align: left;
}

.product-slider__button {
  display: inline-block;
  border-radius: 50%;
  background: #0f0f0f;
  border: 0.1rem solid #1e1e1e;
  padding: 2.4rem 0 1.6rem;
  width: 11rem;
  cursor: pointer;
}

.product-slider__button:hover {
  transition: all 100ms ease-in-out;
  background: #000;
}

.product-slider__button:active {
  transform: scale(0.98);
  transition: all 0ms ease-in-out;
}

.product-slider__button img {
  display: block;
  margin: 0 auto;
}

.product-slider__button span {
  display: block;
  margin: 0 auto;
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
  padding: 0.4rem 0;
  text-align: center;
}

.product-slider__item-count {
  display: inline-block;
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2;
  margin: 0 0 0 2rem;
  padding: 2rem;
  color: white;
  text-align: left;
}

.product-slider__item-count-current {
  color: #fff;
}

.product-slider__item-count-total {
  color: #8c8c8c;
}

.product-slider__item-count-total::before {
  content: '/';
  display: inline-block;
  padding-right: 0.3em;
}

.vueperslides {
  position: relative;
  flex-grow: 4;
}

.vueperslides__track {
  max-width: 90rem;
  overflow: visible !important;
}

.vueperslide {
  transition: all 300ms ease-in-out;
  opacity: 0;
}

.vueperslide--visible + div {
  opacity: 0.4;
}

.vueperslide.vueperslide--visible {
  opacity: 1;
}

.vueperslides__arrows  {
  display: none !important;
}

.vueperslides__bullets {
  display: none !important;
}

.vueperslides__parallax-wrapper {
  overflow: visible !important;
}

.vueperslide__content-wrapper {
  max-height: 46rem;
}

.vueperslide__content-wrapper section {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.vueperslide__content-wrapper img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
}

.vueperslide__content-wrapper main {
  display: block;
  padding: 21rem 2rem 2rem;
  background: #000;
  margin-top: 8rem;
}

.vueperslide__content-wrapper p {
  font-family: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #8c8c8c;
  margin: 0;
}

.vueperslide__content-wrapper p.manufacturer {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.vueperslide__content-wrapper p.product-number {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.vueperslide__content-wrapper h4 {
  display: inline-block;
  font-family: 'Minion Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 4rem;
  line-height: 1.4;
  margin: 0;
}

.vueperslide__content-wrapper h4.price {
  font-size: 2rem;
}

</style>
