<template>
  <div class="image" v-if="sources && sources.length">
    <figure>
      <picture>
        <source v-for="(asset, index) in sources" :key="index"
          v-if="asset.screensize"
          :media=getScreenSize(asset.screensize)
          :srcset=asset.target
        >
        <img v-if=getDefaultSource() :src=getDefaultSource().target :title=title :alt=title>
      </picture>
      <figcaption v-if="description">{{ description }}</figcaption>
    </figure>
  </div>
</template>

<script>
export default {
  name: 'ResponsiveImage',
  data () {
    return {
      assets: function () {
        // if (!this.assetId) return
        // console.log(this.assetId)
      }
    }
  },
  props: {
    title: { required: false },
    description: { required: false },
    assetId: { required: false },
    sources: { required: false }
  },
  methods: {
    getDefaultSource: function () {
      for (let i = 0; i < this.sources.length; i++) {
        if (this.sources[i].default) return this.sources[i]
      }
      return null
    },
    getScreenSize: function (screensize) {
      // console.log(screensize)
      if (!screensize) return null
      return `(min-width: ${screensize}px)`
    }
  }
}
</script>

<style scoped>

figure {
  width: inherit;
  height: inherit;
  object-fit: inherit;
  padding: 0;
  margin: 0;
}

picture {
  width: inherit;
  height: inherit;
  object-fit: inherit;
}

img {
  width: inherit;
  height: inherit;
  object-fit: inherit;
}

</style>
